/* TAG SPECIFICS */
body {
    margin: 0;

    text-align: center;
}

header {
    position: left;

    padding: 30px 20px;

    color: #fff;
    background-color: #f15b31;
}

nav {
    padding: 20px 0;

    color: #fff;
    background-color: #00a6b3;
}

nav a {
    margin: 0 20px;

    color: #fff;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    border-bottom-color: #fff;
}

main {
    width: 850px;
    margin: 35px auto;
}

footer {
    font-size: 14px;
    font-weight: 500;

    padding: 20px 0;

    letter-spacing: .08em;
    text-transform: uppercase;

    color: white;
    background-color: #0d2c40;
}

img {
    margin: 40px 8px;
}

/* FONT SPECIFICS */

h1,
h2,
h3,
a {
    font-family: 'Raleway', sans-serif;

    letter-spacing: 1px;
    text-transform: uppercase;
}

h1,
h2,
h3 {
    color: #0d2c40;
}

h2,
h3,
a {
    font-weight: 600;
}

a,
p {
    font-size: 18px;
}


h1 {
    font-size: 45px;
    font-weight: 400;

    margin: 0;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

a {
    text-decoration: none;

    color: #f15b31;
}

p {
    font-family: 'Droid Serif', sans-serif;
    line-height: 26px;
}


/* CLASS SPECIFICS */

.copyright,
.message {
    font-family: 'Raleway', sans-serif;
}

.copyright {
    float: left;
}

.message {
    float: right;
}

.name {
    font-weight: 700;

    color: #f15b31;
}

/* CLEARFIX */
.cleafix:after {
    font-size: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '';
}